<div class="ui container">
  <div class="header">
    <h3 class="ui center aligned header"> All Rydeshares </h3>
  </div>
  <div class="ui basic segment">
    <% @trips.each do |trip| %>
      <% if !trip.admin?(current_user) && !current_user.member?(trip) %>

      <strong>Departure: </strong><%= link_to trip.address, trip_path(trip) %>
      | <strong> Destination: </strong><%= trip.destination_address %> | <strong>Driver: </strong><%= User.where(id:trip.user_id).first.first_name %>
      <%= User.where(id:trip.user_id).first.last_name %>
        <div class="ui left icon button">
          <%= link_to memberships_user_path(trip.id), method: 'post' do %>
          <i class="add user icon"></i>
          <% end %>
        </div>
      <hr>
      <% end %>

    <% end %>

  </div>
</div>
