<%= form_for @trip do |f| %>
  <fieldset>
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address %>
  </fieldset>
  <fieldset>
    <%= f.label :total_seats, 'Total Seats' %>
    <%= f.text_field :total_seats %>
  </fieldset>

  <%= f.submit 'Add Carpool'%>
<% end %>

<div>
  <div>
  	<div id="map"></div>
	</div>
</div>
