<div class="ui basic segment">
  <div class="header">
    <h3 class="ui header">
      Create New Rydeshare
    </h3>
  </div>
  <br>
  <div class="ui divider"></div>
  <div class="content">
    <div class="ui form">
      <%= form_for :trip, url: '/trips', method: :post do |f| %>
        <div class="required field">
          <%= f.label :address, 'Address' %><br />
          <%= f.text_field :address, autofocus: true %>
        </div>
        <div class="required field">
          <%= f.label :total_seats, 'Total Seats' %><br />
          <%= f.text_field :total_seats, autofocus: true %>
        </div>
        <div class="actions">
          <%= f.submit "Save", class: "ui primary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
