<h3 class="ui center aligned header"> Your Rydeshares <%= link_to new_trip_path do %>
  <i class="add circle icon"></i>
<% end %></h3>

<div class="ui basic segment">
  <% current_user.trips.each do |trip| %>
    <br>
    <% if trip.admin?(current_user) %>
      <strong>Address: </strong><%= link_to trip.address, trip_path(trip) %>
      <!--TODO: Track full? members list -->
      <div class="ui left icon button">
        <%= link_to edit_trip_path(trip) do %>
          <%= fa_icon "pencil" %>
        <% end %>
      </div>
      <br>
    <% else %>
      <strong>Address: </strong><%= link_to trip.address, trip_path(trip) %>
      <br>
      <strong>Driver: </strong><%= User.where(id:trip.user_id).first.first_name %>
      <%= User.where(id:trip.user_id).first.last_name %>
      <div class="ui left icon button">
        <%= link_to membership_destroy_path(trip.id), method: 'delete' do %>
          <i class="remove user icon"></i>
        <% end %>
      </div>
      
      <hr>
    <% end %>
  <% end %>
</div>
